<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/table" routerLinkActive="active"
        >User Table</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tdform" routerLinkActive="active"
        >TemplateDriven Form</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rform" routerLinkActive="active"
        >Reactive Form</a
      >
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
