<div class="container">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Action</th>
    </thead>
    <tbody *ngFor="let user of users; let i = index">
      <td>{{ user.name }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="onUpdate(i)">
          Update
        </button>
        <button class="btn btn-danger btn-sm" (click)="onDelete(i)">
          Delete
        </button>
      </td>
    </tbody>
  </table>
  
  <router-outlet></router-outlet>
</div>
<!-- cone set
air filter
battery
oil -->
