<div class="container">
  <div class="form">
    <form [formGroup]="userForm" (ngSubmit) = "onSubmit()">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Name"
        formControlName="name"
      />
      <span *ngIf="userForm.get('name').invalid && userForm.get('name').touched">Please enter name</span>
      
      <br />
      <br />
      <input
      type="number"
      class="form-control"
      placeholder="Enter Phone"
      formControlName="phone"
      />
      <span *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched">Please enter phone</span>
      
      <br />
      <br />
      <input
      type="email"
      class="form-control"
      placeholder="Enter Email"
      formControlName="email"
      />
      <span *ngIf="userForm.get('email').invalid && userForm.get('email').touched">Please enter proper email</span>

      <hr />
      <button type="submit" class="btn btn-primary" [disabled] = "userForm.invalid">Submit</button>
    </form>
  </div>
</div>
