<div class="container">
  <div class="form">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Enter Name</mat-label>
        <input
          type="text"
          matInput
          placeholder=""
          name="name"
          ngModel
          required
          #userName="ngModel"
        />
        <mat-error *ngIf="userName.invalid && userName.touched">
          Please Enter Name!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter Phone</mat-label>
        <input
          type="number"
          matInput
          placeholder=""
          name="phone"
          ngModel
          required
          #userPhone="ngModel"
        />
        <mat-error *ngIf="userPhone.invalid && userPhone.touched">
          Please Enter Phone!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter Email</mat-label>
        <input
          type="email"
          matInput
          placeholder=""
          name="email"
          ngModel
          required
          email
          #userEmail="ngModel"
        />
        <mat-error *ngIf="userEmail.invalid && userEmail.touched">
          Please Enter Email!
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="f.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
