<div class="container">
  <div class="form">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Name"
        name="username"
        ngModel
        required
        #userName="ngModel"
      />
      <span class="error" *ngIf="userName.invalid && userName.touched">
        Please Enter Name!
      </span>

      <br />
      <br />
      <input
        type="number"
        class="form-control"
        placeholder="Enter Phone"
        name="userphone"
        ngModel
        required
        #userPhone="ngModel"
      />
      <span class="error" *ngIf="userPhone.invalid && userPhone.touched">
        Please Enter Phone!
      </span>

      <br />
      <br />
      <input
        type="email"
        class="form-control"
        placeholder="Enter Email"
        name="useremail"
        ngModel
        required
        email
        #userEmail="ngModel"
      />
      <span class="error" *ngIf="userEmail.invalid && userEmail.touched">
        Please Enter Email!
      </span>

      <hr />
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
