<div class="container">
  <dx-data-grid id="dataGrid" [dataSource]="users" [allowColumnResizing]="true">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    ></dxo-editing>
    <dxi-column dataField="name" >
        <dxi-validation-rule type = "required" message = "Please Enter Name!"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="phone">
        <dxi-validation-rule type = "required" message = "Please Enter Phone!"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="email">
        <dxi-validation-rule type = "required" message = "Please Enter Email!"></dxi-validation-rule>
        <dxi-validation-rule type = "email" message = "Email Invalid!"></dxi-validation-rule>
    </dxi-column>
  </dx-data-grid>
</div>
